<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707094646423-0am8kbpu6qhu78ncv1n8slajn1bnemul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707094646423-0am8kbpu6qhu78ncv1n8slajn1bnemul</string>
	<key>API_KEY</key>
	<string>[REDACTED]</string>
	<key>GCM_SENDER_ID</key>
	<string>707094646423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codon.retailtracecommerce</string>
	<key>PROJECT_ID</key>
	<string>retailtrac-ecommerceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>retailtrac-ecommerceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707094646423:ios:025dc383a819a402cd63d2</string>
</dict>
</plist>
